<!DOCTYPE html>
<html>
<%- include ../resources/pages/header.html-%>
<body>    
  <div class="whole-page" id="main-page">
      <!-- put nav here --> 
      <%- include ../resources/pages/navigation.html -%>
  </div>                   
                  
  <%- include ../resources/pages/activate.html -%>   
  <%- include ../resources/pages/engage.html-%>
  <%- include ../resources/pages/experience.html-%>
 
  <%- include ../resources/pages/contact.html -%>
  <%- include ../resources/pages/modals.html -%>

</body>
<script>
</script>       
</html>   